 
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f7f3ff;
overflow:hidden;
}

.phone{

width:390px;
height:844px;

background:white;

border-radius:35px;

overflow:hidden;

box-shadow:
0 20px 60px rgba(0,0,0,0.15);

position:relative;
}

.forms-container{

width:100%;
height:200%;

position:absolute;

top:0;
left:0;

transition:0.8s ease;
}

.forms-container.active{

transform:translateY(-50%);
}

.screen{

width:100%;
height:50%;

position:relative;

background:#faf8ff;
}

.top-image{

height:250px;
overflow:hidden;
}

.top-image img{

width:100%;
height:100%;
object-fit:cover;
}

.curve{

position:absolute;

top:180px;

width:100%;

background:white;

min-height:650px;

border-radius:50% 50% 0 0;

padding:70px 30px;

text-align:center;
}

.welcome{

color:#8b5cf6;

font-weight:600;
margin-bottom:5px;
}

.subtitle{

color:#7c6c9a;
font-size:14px;
margin-bottom:25px;
}

h1{

color:#5b477c;

margin-bottom:30px;
}

input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

background:#f3efff;

border-radius:14px;

outline:none;

font-size:15px;
}

input:focus{

border:2px solid #b39dff;
}

button{

width:100%;

padding:15px;

border:none;

border-radius:14px;

background:#a78bfa;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:0.3s;
}

button:hover{

background:#8b5cf6;
}

.switch-text{

margin-top:20px;

color:#666;
}

.switch-text span{

color:#8b5cf6;

font-weight:600;

cursor:pointer;
}
